Repository Barry-Kenan/angular-msds: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, stylelint **/*.scss --fix

.lintstagedrc.json:

{
  "*.ts": "ng lint --fix",
  "*.html": "ng lint --fix",
  "*.scss": "stylelint **/*.scss --fix"
}

newPassportFormFeature2: комментарий
  src/app/modules/new-passport-form/models/organization.ts
Due: ng lint --fix

newPassportFormFeature2: переименование модели и комментарии
  src/app/models/localization-dto.ts
  src/app/modules/new-passport-form/models/names.ts
  src/app/modules/new-passport-form/models/new-passport.ts
  src/app/modules/table/models/organization.ts
  src/app/modules/table/models/passport.ts
Due: ng lint --fix

full-passport-form: новая форма
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix, stylelint **/*.scss --fix

full-passport-form: form names
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

full-passport-form: новая форма адаптив
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

full-passport-form: новая форма
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.spec.ts
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/full-passport-form.module.ts
  src/app/modules/new-passport-form/new-passport-form.module.ts
Due: ng lint --fix, stylelint **/*.scss --fix

full-passport-form: названия items
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: tooltip для поля наименование в странице table
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

fullPassportFormFeature: метод setData с запросом
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

fullPassportFormFeature: fullPassport
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

fullPassportForm: routing url
  src/app/app-routing.module.ts
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

fullPassportFormFeature: добавлен fileHost
  src/environments/environment.ts
Due: ng lint --fix

fullPassportFormFeature: добавлен RouterModule
  src/app/modules/table/table.module.ts
Due: ng lint --fix

fullPassportFormFeature: spread оператор
  src/app/modules/new-passport-form/services/new-passport-form.service.ts
Due: ng lint --fix

fullPassportFormFeature: сервис для fullPassportForm
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix

fullPassportFormFeature: компонент fullPassportForm
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

fullPassportFormFeature: модели
  src/app/modules/full-passport-form/models/address.ts
  src/app/modules/full-passport-form/models/expert.ts
  src/app/modules/full-passport-form/models/get-next-number.ts
  src/app/modules/full-passport-form/models/list-dictionary-value-item.ts
  src/app/modules/full-passport-form/models/list-dictionary-values.ts
  src/app/modules/full-passport-form/models/phone.ts
  src/app/modules/full-passport-form/models/read-organization.ts
  src/app/modules/full-passport-form/models/read-passport.ts
Due: ng lint --fix

fullpassportFormFeature: сервис
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix

fullPassportFormFeature: комментарии моделям
  src/app/modules/full-passport-form/models/address.ts
  src/app/modules/full-passport-form/models/expert.ts
  src/app/modules/full-passport-form/models/get-next-number.ts
  src/app/modules/full-passport-form/models/list-dictionary-value-item.ts
  src/app/modules/full-passport-form/models/organization-full.ts
  src/app/modules/full-passport-form/models/passport.ts
  src/app/modules/full-passport-form/models/phone.ts
  src/app/modules/full-passport-form/models/read-organization.ts
  src/app/modules/full-passport-form/models/read-passport.ts
Due: ng lint --fix

fullPassportFormFeature: константы для nz-Select
  src/app/modules/full-passport-form/consts/list-danger.ts
  src/app/modules/full-passport-form/consts/list-enterprise-types.ts
  src/app/modules/full-passport-form/consts/list-passport-period.ts
  src/app/modules/full-passport-form/consts/list-payment-method.ts
  src/app/modules/full-passport-form/consts/list-signal-word.ts
  src/app/modules/full-passport-form/consts/list-single-or-multiply.ts
  src/app/modules/full-passport-form/models/lists.ts
Due: ng lint --fix

fullPassportFormFeature: Ссылка на просмотр паспорта
  src/environments/environment.ts
Due: ng lint --fix

fullPassportFormFeature: удалены ненужные запросы
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix

fullPassportFormFeature: добавлен tooltip и typography
  src/app/modules/full-passport-form/full-passport-form.module.ts
Due: ng lint --fix

fullPassportFormFeature: вынесены константы
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

fullPassportFormFeature: стили
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
Due: stylelint **/*.scss --fix

fullPassportFormFeature: Перерегистрация ПБ checkbox
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

fullPassportFormFeature: Место для QR-кода
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
Due: stylelint **/*.scss --fix

fullPassportFormFeature: компонент
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: исправления submitForm
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: размер qr-code
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
Due: stylelint **/*.scss --fix

fullPassportFormFeature: disabled input
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: placeholder-ы
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

fullPassportFormFeature: Наименования в таблице подчеркнута
  src/app/modules/table/components/table.component/table.component.scss
Due: stylelint **/*.scss --fix

fullPassportFormFeature: Кнопку + выровнен по правому краю таблицы
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

fullPassportFormFeature: Блок основная информация выровнен
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

fullPassportFormFeature: Кнопка cохранить по умолчанию заблокирована
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

fullPassportFormFeature: Название ПБ вместо 'Новый тестовый объект'
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: комментарии и типизация
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: удален ненужное присваивание
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFormFeature: конструктор вынесен в отдельный файл и исправлена ошибка с Map
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/consts/full-passport-form-constructor.ts
Due: ng lint --fix
