Repository Barry-Kenan/angular-msds: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, stylelint **/*.scss --fix

.lintstagedrc.json:

{
  "*.ts": "ng lint --fix",
  "*.html": "ng lint --fix",
  "*.scss": "stylelint **/*.scss --fix"
}

test: модуль логин в папке modules
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/modules/login/components/login.components/login.component.html
  src/modules/login/components/login.components/login.component.scss
  src/modules/login/components/login.components/login.component.spec.ts
  src/modules/login/components/login.components/login.component.ts
  src/modules/login/login.module.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: модуль table в папке modules
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/services/data.service/data.service.ts
  src/modules/table/components/table.component/table.component.html
  src/modules/table/components/table.component/table.component.scss
  src/modules/table/components/table.component/table.component.spec.ts
  src/modules/table/components/table.component/table.component.ts
  src/modules/table/consts/status-name.ts
  src/modules/table/consts/table.consts.ts
  src/modules/table/table.module.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: модуль new-passport-form в папке modules
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.spec.ts
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
  src/modules/new-passport-form/form.module.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: меьоды для логина и JSON-RPC
  src/app/services/data.service/data.service.ts
  src/environments/environment.ts
Due: ng lint --fix

test: комментарии
  src/app/app-routing.module.ts
  src/app/app.component.scss
  src/app/guards/auth.guard/auth.guard.ts
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
  src/app/services/data.service/data.service.ts
  src/environments/environment.ts
  src/models/direction-event.ts
  src/models/list.ts
  src/models/user-profile.ts
  src/models/user.ts
  src/modules/login/components/login.components/login.component.html
  src/modules/login/components/login.components/login.component.scss
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
  src/modules/table/components/table.component/table.component.scss
  src/theme.less
Due: ng lint --fix, stylelint **/*.scss --fix

test: models
  src/models/list-passport.ts
  src/models/organization.ts
  src/models/user-profile.ts
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

test: комментарии и тип direction
  src/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

test: комментарии
  src/app/guards/auth.guard/auth.guard.ts
  src/models/user.ts
  src/modules/login/components/login.components/login.component.ts
Due: ng lint --fix

test: ненужный скрипт
  package.json
Due: none

test: ненужные пакеты
  package.json
  yarn.lock
Due: none

test: комментарии
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
  src/app/services/data.service/data.service.ts
  src/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
  src/modules/table/components/table.component/table.component.ts
  src/modules/table/consts/table.consts.ts
Due: ng lint --fix

test: сервис типизация
  src/app/services/data.service/data.service.ts
Due: ng lint --fix

test: коммертарии
  src/modules/table/consts/status-name.ts
Due: ng lint --fix

test: шрифт
  src/assets/fonts/IBMPlexSans-Medium.ttf
  src/index.html
  src/styles.scss
Due: ng lint --fix, stylelint **/*.scss --fix

test: тип
  src/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

test: url адрес в host
  src/environments/environment.ts
Due: ng lint --fix

test: checkbox стили
  src/theme.less
Due: none

test: modules перемещен в app
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/modules/login/components/login.components/login.component.html
  src/app/modules/login/components/login.components/login.component.scss
  src/app/modules/login/components/login.components/login.component.spec.ts
  src/app/modules/login/components/login.components/login.component.ts
  src/app/modules/login/login.module.ts
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.spec.ts
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
  src/app/modules/new-passport-form/form.module.ts
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.scss
  src/app/modules/table/components/table.component/table.component.spec.ts
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/consts/status-name.ts
  src/app/modules/table/consts/table.consts.ts
  src/app/modules/table/table.module.ts
  src/app/services/data.service/data.service.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: services
  src/app/modules/login/components/login.components/login.component.ts
  src/app/modules/login/services/login.service/login.service.ts
  src/app/modules/shared/services/request.service/request.service.ts
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/services/table.service/table.service.ts
  src/app/services/data.service/data.service.ts
Due: ng lint --fix

test: list-passport -> list переименование
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/services/table.service/table.service.ts
  src/models/passport-response.ts
  src/models/passport.ts
Due: ng lint --fix

test: страница логина
  src/app/modules/login/components/login.components/login.component.html
  src/app/modules/login/components/login.components/login.component.scss
  src/assets/icons/Login.svg
  src/assets/icons/Password.svg
Due: ng lint --fix, stylelint **/*.scss --fix

test: new-passport-form
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: table component
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.scss
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/consts/table.consts.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: stylelint
  src/app/modules/login/components/login.components/login.component.scss
  src/styles.scss
Due: stylelint **/*.scss --fix

test: table component
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.scss
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: изменение цвета статуса в таблице
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/consts/status-color.ts
Due: ng lint --fix

test: login стили
  .vscode/settings.json
  src/app/modules/login/components/login.components/login.component.html
  src/app/modules/login/components/login.components/login.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

test: stylelint
  .stylelintrc.json
  .vscode/settings.json
Due: none

test: login
  src/app/modules/login/components/login.components/login.component.html
  src/app/modules/login/components/login.components/login.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

test: цвет статуса
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

test: ng-deep stylelint
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
Due: stylelint **/*.scss --fix

test: new-passport-form formControlName
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

test: Комментарий
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

test: Комментарий
  src/models/passport.ts
  src/models/user-profile.ts
  src/models/user.ts
Due: ng lint --fix

test: Комментарий
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
Due: ng lint --fix

test: Комментарий
  src/app/modules/login/components/login.components/login.component.html
  src/app/modules/login/components/login.components/login.component.ts
Due: ng lint --fix

test: удален ненужный пакет
  package.json
  yarn.lock
Due: none

test: определен с помощью тернарного оператора
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
Due: ng lint --fix

test: camelCase
  src/app/guards/auth.guard/auth.guard.ts
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
  src/app/modules/login/services/login.service/login.service.ts
Due: ng lint --fix
