Repository Barry-Kenan/angular-msds: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, stylelint **/*.scss --fix

fullPassportFormFeature: типизация и удаление ненужных файлов
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/consts/full-passport-form-constructor.ts
  src/app/modules/full-passport-form/enums/enterprises.ts
Due: ng lint --fix

fullPassportFormFeature: комментарии
  src/app/modules/full-passport-form/enums/enterprises.ts
  src/app/modules/full-passport-form/models/get-next-number.ts
  src/app/modules/full-passport-form/models/list-dictionary-value-item.ts
  src/app/modules/full-passport-form/models/list-dictionary-values.ts
  src/app/modules/full-passport-form/models/lists.ts
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix

fullPassportFromFeature: валидаторы
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

fullPassportFromFeature: svg для валидации
  src/assets/icons/Invalid.svg
Due: none

fullPassportFromFeature: tooltip для длинных наименований
  src/app/modules/table/components/table.component/table.component.html
  src/app/modules/table/components/table.component/table.component.scss
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

fullPassportForm: исправление ошибки 'Expression has changed after it was checked'
  src/app/modules/table/components/table.component/table.component.ts
Due: ng lint --fix

fullPassportForm: иконка валидации
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/directives/validation.directive.spec.ts
  src/app/modules/full-passport-form/directives/validation.directive.ts
  src/app/modules/full-passport-form/full-passport-form.module.ts
Due: ng lint --fix

fullPassportForm: поправки
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/full-passport-form/enums/enterprise.ts
  src/app/modules/full-passport-form/enums/list-dictionary-value.ts
  src/app/modules/full-passport-form/models/dictionary-value-item.ts
  src/app/modules/full-passport-form/models/list-data.ts
  src/app/modules/full-passport-form/models/next-number.ts
  src/app/modules/full-passport-form/services/full-passport-form.service/full-passport-form.service.ts
Due: ng lint --fix

fullPassportForm: table enums
  src/app/modules/table/components/table.component/table.component.ts
  src/app/modules/table/consts/table.consts.ts
  src/app/modules/table/enums/column-name.ts
  src/app/modules/table/enums/direction.ts
  src/app/modules/table/models/column-items.ts
  src/app/modules/table/services/table.service/table.service.ts
Due: ng lint --fix

validationFeature: комментарии
  src/app/models/list.ts
Due: ng lint --fix

validationFeature: изменение теста валидации
  src/app/modules/login/components/login.components/login.component.html
Due: ng lint --fix

validationFeature: директива для валидации
  src/app/directives/validation.directive.spec.ts
  src/app/directives/validation.directive.ts
  src/app/modules/full-passport-form/directives/validation.directive.ts
Due: ng lint --fix

validationFeature: валидация button disable и текст валидации
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

validationFeature: refactoring
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

validationFeature: добавлен диретив для input-ов
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

validationFeature: стили для tooltip
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
Due: stylelint **/*.scss --fix

validationFeature: отключен правило
  .stylelintrc.json
Due: none

validationFeature: стили placeholder-а
  src/app/app.component.scss
Due: stylelint **/*.scss --fix

validationFeature: модуль для директивы
  src/app/directives/directives.module.ts
Due: ng lint --fix

validationFeature: directive перемещен
  src/app/directives/validation/validation.directive.spec.ts
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

validationFeature:добавлен модуль directive
  src/app/modules/full-passport-form/full-passport-form.module.ts
  src/app/modules/new-passport-form/new-passport-form.module.ts
Due: ng lint --fix

validationFeature: удален ненужный код
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.scss
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.scss
Due: stylelint **/*.scss --fix

validationFeature: валидация
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
Due: ng lint --fix

ValidationFeature: навигация и обнуление input-a
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix

ValidationFeature: навигация и обнуления input-а
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

ValidationFeature: типизация
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: переименование
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: условия объединены
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: название класса отдельная константа
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: Map для стилей
  src/app/directives/validation/consts/icon-styles.ts
  src/app/directives/validation/consts/tooltip-styles.ts
Due: ng lint --fix

ValidationFeature: добавлены Map-ы для стилей
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: метод для перебора Map
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

ValidationFeature: getter form переименование
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.ts
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.html
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

ValidationFeature: appValidationText вместо title
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

validationFeature: добавлен директив на Input enterpriseTypes
  src/app/modules/full-passport-form/components/full-passport-form/full-passport-form.component.html
Due: ng lint --fix

dwdwd
  src/app/modules/new-passport-form/components/new-passport-form.component/new-passport-form.component.ts
Due: ng lint --fix

validationFeature: исправление ошибок
  src/app/directives/validation/validation.directive.ts
Due: ng lint --fix

forDeployingFeature: firebase
  .firebase/hosting.ZGlzdA.cache
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Due: none

forDeployingFeature: удален Safari из за ошибки
  .browserslistrc
Due: none

forDeployingFeature: переименован название проекта
  angular.json
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
  src/index.html
Due: ng lint --fix

Path conditions:
  ng lint --fix: (any of: *.ts) or (any of: *.html)
  stylelint **/*.scss --fix: any of: *.scss
