Repository Barry-Kenan/angular-msds: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, stylelint **/*.scss --fix

test: husky test
  .lintstagedrc.json
  package.json
Due: none

test: form module
  .husky/pre-commit
  src/app/app-routing.module.ts
  src/app/form/form.component.scss
  src/app/form/form.component.spec.ts
  src/app/form/form.module.ts
  src/app/form/full-passport-form/full-passport-form.component.html
  src/app/form/full-passport-form/full-passport-form.component.scss
  src/app/form/full-passport-form/full-passport-form.component.spec.ts
  src/app/form/full-passport-form/full-passport-form.component.ts
  src/app/form/new-passport-form/new-passport-form.component.html
  src/app/form/new-passport-form/new-passport-form.component.scss
  src/app/form/new-passport-form/new-passport-form.component.spec.ts
  src/app/form/new-passport-form/new-passport-form.component.ts
  src/app/table/table.component.html
  src/app/table/table.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: linter...
  .eslintrc.json
  package.json
  yarn.lock
Due: none

test: Удален неиспользуемый часть кода
  src/app/form/full-passport-form/full-passport-form.component.html
  src/app/form/full-passport-form/full-passport-form.component.scss
  src/app/form/full-passport-form/full-passport-form.component.spec.ts
  src/app/form/full-passport-form/full-passport-form.component.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: Добален комментарии классу, добавлен тип
  src/app/form/new-passport-form/new-passport-form.component.ts
Due: ng lint --fix

test: присваивание в конструкторе
  src/app/form/new-passport-form/new-passport-form.component.ts
Due: ng lint --fix

test: console
  src/app/form/new-passport-form/new-passport-form.component.ts
Due: ng lint --fix

test: удален ненужный импорт
  src/app/form/form.module.ts
Due: ng lint --fix

test: строчные элементы
  src/app/login/login.component.html
Due: ng lint --fix

test: p -> label
  src/app/login/login.component.html
  src/app/login/login.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

test: стили логин
  src/app/login/login.component.html
  src/app/login/login.component.scss
  src/index.html
  src/theme.less
Due: ng lint --fix, stylelint **/*.scss --fix

test: комментарии
  src/app/app.component.ts
  src/app/login/login.component.ts
  src/app/table/table.component.ts
Due: ng lint --fix

test: стили по БЭМ
  src/app/table/table.component.html
  src/app/table/table.component.scss
Due: ng lint --fix, stylelint **/*.scss --fix

test: console, constructor
  src/app/table/table.component.ts
Due: ng lint --fix

test: роутинг
  src/app/app-routing.module.ts
  src/app/data.service.ts
Due: ng lint --fix

test: data-service
  src/app/data.service.ts
Due: ng lint --fix

test: модели
  src/app/User.ts
  src/app/data.service.ts
  src/app/models.ts
  src/app/models/column-type.ts
  src/app/models/direction-event.ts
  src/app/models/direction.ts
  src/app/models/list-passport.ts
  src/app/models/passport-response.ts
  src/app/models/request-body.ts
  src/app/models/user-profile.ts
  src/app/table/table.component.ts
Due: ng lint --fix

test: поля запроса в camelCase
  src/app/data.service.ts
  src/app/models/request-body.ts
Due: ng lint --fix

test: поля запроса в camelCase
  src/app/data.service.ts
Due: ng lint --fix

test: добавлен newline-before-return
  .eslintrc.json
  src/app/passport.interceptor.ts
Due: ng lint --fix

test:
  src/app/auth.guard.ts
  src/app/data.service.ts
  src/app/passport.interceptor.ts
Due: ng lint --fix

test: ненужные файлы
  .lintstagedrc.json
  .prettierignore
Due: none

test: обновлен readme.md
  README.md
Due: none

test: добавлены файлы с tableFeauture
  src/app/data.service.ts
  src/app/form/form.module.ts
  src/app/form/new-passport-form/new-passport-form.component.html
  src/app/form/new-passport-form/new-passport-form.component.scss
  src/app/form/new-passport-form/new-passport-form.component.ts
  src/app/login/login.component.ts
  src/app/models/column-items.ts
  src/app/models/list-passport.ts
  src/app/table/table.component.html
  src/app/table/table.component.scss
  src/app/table/table.component.ts
  src/app/table/table.module.ts
  src/theme.less
Due: ng lint --fix, stylelint **/*.scss --fix

test: комменты для модулей
  src/app/data.service.ts
  src/app/models/column-items.ts
  src/app/models/column-type.ts
  src/app/models/direction.ts
  src/app/models/list-passport.ts
  src/app/models/passport-response.ts
  src/app/models/request-body.ts
  src/app/models/user-profile.ts
Due: ng lint --fix

test: страница Table
  src/app/table/table.component.html
  src/app/table/table.component.scss
  src/app/table/table.component.ts
  src/app/table/table.module.ts
  src/theme.less
Due: ng lint --fix, stylelint **/*.scss --fix

test: Комментарий классу и его методу
  src/app/auth.guard.ts
Due: ng lint --fix

test: Комментарий классу и его членам
  src/app/data.service.ts
Due: ng lint --fix

test: комментарии
  src/app/login/login.component.ts
Due: ng lint --fix

test: комментарии
  src/app/form/new-passport-form/new-passport-form.component.ts
  src/app/table/table.component.ts
Due: ng lint --fix

test: изменен структура папок Table
  src/app/app-routing.module.ts
  src/app/table/consts/table.consts.ts
  src/app/table/table.component.ts
  src/app/table/table.component/table.component.html
  src/app/table/table.component/table.component.scss
  src/app/table/table.component/table.component.spec.ts
  src/app/table/table.component/table.component.ts
  src/app/table/table.module.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: list model
  src/app/models/column-type.ts
  src/app/models/list.ts
  src/app/models/passport-response.ts
  src/app/table/consts/status-name.ts
Due: ng lint --fix

test: добавление номера и статуса
  src/app/data.service.ts
Due: ng lint --fix

test: listOfColumn перенесен
  src/app/data.service.ts
  src/app/models/column-items.ts
  src/app/models/column-name.ts
  src/app/table/consts/table.consts.ts
  src/app/table/table.component/table.component.html
  src/app/table/table.component/table.component.ts
Due: ng lint --fix

test: удален ненужный код
  src/app/table/consts/table.consts.ts
Due: ng lint --fix

test: правильное присвоение Map
  src/app/table/consts/status-name.ts
Due: ng lint --fix

test: models на уровне app
  src/app/data.service.ts
  src/app/table/consts/table.consts.ts
  src/app/table/table.component/table.component.scss
  src/app/table/table.component/table.component.ts
  src/models/column-items.ts
  src/models/column-name.ts
  src/models/direction-event.ts
  src/models/direction.ts
  src/models/list-passport.ts
  src/models/list.ts
  src/models/passport-response.ts
  src/models/request-body.ts
  src/models/user-profile.ts
  src/models/user.ts
Due: ng lint --fix, stylelint **/*.scss --fix

test: interceptor-ы в папке interseptors
  src/app/app.module.ts
  src/app/interceptors/passport.interceptor/passport.interceptor.spec.ts
  src/app/interceptors/passport.interceptor/passport.interceptor.ts
Due: ng lint --fix

test: servic-ы в папке services
  src/app/login/login.component.ts
  src/app/services/data.service/data.service.ts
  src/app/table/table.component/table.component.ts
Due: ng lint --fix

test: guard-ы в папке guards
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/guards/auth.guard/auth.guard.ts
Due: ng lint --fix

Path conditions:
  ng lint --fix: (any of: *.ts) or (any of: *.html)
  stylelint **/*.scss --fix: any of: *.scss
